.box {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.colorOptions {
  display: flex;
}

.colorOption {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-option:hover {
  border: 2px solid #333;
}

.selected {
  border: 2px solid #333;
}

/* .popUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} */
